# data and numbers
pandas
geopandas
numpy<2.0.0
xarray
xarray-spatial
pyarrow
dask[dataframe]

# data source
copernicusmarine

# visualization
datashader
matplotlib
seaborn

# machine learning
catboost
xgboost
scikit-learn
scikit-learn-intelex
imbalanced-learn
statsmodels
shap

# utils
pyyaml
pydantic
joblib
optuna
mlflow

# development
ipykernel
